build/build
build/build_release
build/build_debug
build/cmake-build-debug
build/cmake-build-release
Binary
Archive
Library
build
cmake-build-debug/
cmake-build-release/
.idea/
build.bat
*.TMP
build_release.bat
build_debug.bat
build.sh
build_release.sh
build_debug.sh
build_win.bat
data
/data
*.bat
*.sh
.vs/
